body, html {
    margin: 0;
    font-family: Arial, sans-serif;
}

.background {
  background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' version='1.1' xmlns:xlink='http://www.w3.org/1999/xlink' xmlns:svgjs='http://svgjs.dev/svgjs' width='1920' height='1080' preserveAspectRatio='none' viewBox='0 0 1920 1080'%3e%3cg mask='url(%26quot%3b%23SvgjsMask1099%26quot%3b)' fill='none'%3e%3crect width='1920' height='1080' x='0' y='0' fill='rgba(157%2c 93%2c 183%2c 1)'%3e%3c/rect%3e%3cpath d='M0%2c639.729C117.67%2c633.549%2c213.021%2c546.639%2c300.748%2c467.973C378.044%2c398.661%2c437.7%2c313.617%2c472.683%2c215.867C505.653%2c123.74%2c494.005%2c26.876%2c493.624%2c-70.972C493.177%2c-185.734%2c533.191%2c-311.512%2c470.255%2c-407.478C406.163%2c-505.206%2c282.916%2c-553.617%2c167.054%2c-568.932C58.871%2c-583.232%2c-38.347%2c-517.892%2c-143.466%2c-488.599C-250.415%2c-458.796%2c-388.872%2c-483.574%2c-456.161%2c-395.265C-523.908%2c-306.355%2c-457.875%2c-178.396%2c-464.839%2c-66.834C-471.079%2c33.136%2c-519.43%2c128.907%2c-494.943%2c226.033C-467.938%2c333.145%2c-406.516%2c429.826%2c-321.76%2c500.669C-230.257%2c577.151%2c-119.093%2c645.984%2c0%2c639.729' fill='%238a49a4'%3e%3c/path%3e%3cpath d='M1920 1766.937C2076.261 1795.646 2254.114 1893.6570000000002 2385.476 1804.295 2517.503 1714.48 2447.067 1495.745 2524.187 1355.923 2611.341 1197.908 2867.855 1125.187 2859.467 944.925 2851.32 769.823 2605.301 718.097 2488.43 587.452 2374.167 459.72299999999996 2348.475 228.42700000000002 2182.021 187.63699999999994 2014.133 146.49599999999998 1881.826 338.17600000000004 1720.09 399.16999999999996 1574.777 453.971 1405.2359999999999 432.701 1281.9070000000002 527.089 1145.429 631.54 1038.395 779.992 1002.814 948.129 966.186 1121.213 975.12 1322.382 1084.1190000000001 1461.734 1190.101 1597.229 1391.251 1592.318 1552.837 1651.317 1675.858 1696.2350000000001 1791.191 1743.271 1920 1766.937' fill='%23ad78c3'%3e%3c/path%3e%3c/g%3e%3cdefs%3e%3cmask id='SvgjsMask1099'%3e%3crect width='1920' height='1080' fill='white'%3e%3c/rect%3e%3c/mask%3e%3c/defs%3e%3c/svg%3e");
    background-repeat: no-repeat;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center; 
}
.box1 {
    position: relative;
    width: 25%;
    height: 80vh;
    background-image:url(cerejeirafesta.jpg);
    background-size: cover;
    background-position-x: center;
    background-repeat: no-repeat;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 30px;
    font-weight: bold;
    border-radius: 15px;
    font-family: 'Courier New', Courier, monospace;
    color: #af6983;
    cursor: pointer;
    margin-right: 20px;
    margin-left: 10px;
    opacity: 80%;
}
.box2 {
  position: relative;
  width: 25%;
  height: 80vh;
  background-image:url(mulherfeliz.jpg);
  background-size: cover;
  background-position-x: center;
  background-repeat: no-repeat;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 24px;
  font-weight: bold;
  border-radius: 15px;
  font-family: 'Courier New', Courier, monospace;
  color: #af996c;
  cursor: pointer;
  margin-right: 10px;
  margin-left: 10px;
  opacity: 80%;
}
.box3 {
  position: relative;
  width: 25%;
  height: 80vh;
  background-image:url(Garça.jpg);
  background-size: cover;
  background-position-x: center;
  background-repeat: no-repeat;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 24px;
  font-weight: bold;
  border-radius: 15px;
  font-family: 'Courier New', Courier, monospace;
  color: #97210f;
  cursor: pointer;
  margin-right: 10px;
  margin-left: 10px;
  opacity: 80%;
}
.box4 {
  position: relative;
  width: 25%;
  height: 80vh;
  background-image:url(diadoambiente.png);
  background-size: cover;
  background-position-x: center;
  background-repeat: no-repeat;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 2px;
  font-weight: bold;
  border-radius: 15px;
  font-family: 'Courier New', Courier, monospace;
  color: #6b7408;
  cursor: pointer;
  margin-right: 10px;
  margin-left: 10px;
  opacity: 80%;
}

  
  .box1::before,
  .box1::after{
    position: absolute;
    content: "";
    height: 20%;
    display: flex;
    align-items: center;
    text-align: center;
    justify-content: center;
    font-size: 30px;
    font-weight: bold;
    background-color: #fc96bb;
    transition: all 0.5s;
  }
  .box2::before, .box2::after{
    position: absolute;
    content: "";
    height: 20%;
    display: flex;
    align-items: center;
    text-align: center;
    justify-content: center;
    font-size: 30px;
    font-weight: bold;
    background-color: #fbdc9c;
    transition: all 0.5s;
  }
  .box3::before, .box3::after{
    position: absolute;
    content: "";
    height: 20%;
    display: flex;
    align-items: center;
    text-align: center;
    justify-content: center;
    font-size: 30px;
    font-weight: bold;
    background-color: #fb3312;
    transition: all 0.5s;
  }
  .box4::before, .box4::after{
    position: absolute;
    content: "";
    height: 20%;
    display: flex;
    align-items: center;
    text-align: center;
    justify-content: center;
    font-size: 30px;
    font-weight: bold;
    background-color: #a6b50a;
    transition: all 0.5s;
  }

  .box1::before, .box2::before, .box3::before,
  .box4::before {
    top: 0;
    right: 0;
    border-radius: 0 15px 0 100%;
  }
  
  .box1::after, .box2::after, .box3::after,
  .box4::after{
    bottom: 0;
    left: 0;
    border-radius: 0 100%  0 15px;
  }
  
  .box1:hover::before,
  .box1:hover:after,.box2:hover::before, .box2:hover:after,
  .box3:hover::before, .box3:hover:after,
  .box4:hover::before, .box4:hover:after {
    width: 100%;
    height: 100%;
    border-radius: 15px;
    transition: all 2.5s;
    animation: 10s;
  }
  
  .box1:hover:after{
      content: "Festa da Cerejeira";
    }
    .box2:hover:after {
      content: "Dia Internacional das Mulheres";
    }
    .box3:hover:after {
      content: "Aniversário de Garça-SP";
    }
    .box4:hover:after {
      content: "Dia Mundial do Meio Ambiente ";
    }
  
  