body,
html {
    margin: 0;
    font-family: Arial, sans-serif;
}

.background {
    background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' version='1.1' xmlns:xlink='http://www.w3.org/1999/xlink' xmlns:svgjs='http://svgjs.dev/svgjs' width='1920' height='1080' preserveAspectRatio='none' viewBox='0 0 1920 1080'%3e%3cg mask='url(%26quot%3b%23SvgjsMask1008%26quot%3b)' fill='none'%3e%3crect width='1920' height='1080' x='0' y='0' fill='rgba(142%2c 84%2c 166%2c 1)'%3e%3c/rect%3e%3cpath d='M0%2c723.267C137.209%2c705.622%2c259.585%2c653.924%2c389.229%2c605.652C556.863%2c543.235%2c795.137%2c559.742%2c872.428%2c398.425C949.34%2c237.898%2c789.008%2c62.91%2c729.677%2c-104.912C682.448%2c-238.502%2c650.319%2c-376.067%2c560.013%2c-485.254C468.283%2c-596.163%2c351.9%2c-687.593%2c213.911%2c-728.513C75.718%2c-769.493%2c-69.309%2c-747.015%2c-209.486%2c-713.445C-355.873%2c-678.388%2c-495.235%2c-625.156%2c-612.381%2c-530.631C-746.747%2c-422.211%2c-924.771%2c-306.083%2c-928.266%2c-133.465C-931.822%2c42.161%2c-713.923%2c133.491%2c-628.939%2c287.227C-553.231%2c424.182%2c-587.965%2c625.62%2c-459.361%2c714.78C-330.901%2c803.841%2c-155.036%2c743.205%2c0%2c723.267' fill='%23704283'%3e%3c/path%3e%3cpath d='M1920 1578.4470000000001C2028.049 1594.319 2143.205 1628.098 2240.99 1579.47 2341.404 1529.535 2406.381 1424.787 2442.495 1318.616 2476.776 1217.835 2445.9139999999998 1111.793 2436.129 1005.792 2425.76 893.469 2463.927 757.452 2383.401 678.461 2302.111 598.72 2159.532 667.72 2052.334 629.3109999999999 1934.561 587.113 1857.359 426.404 1733.751 445.693 1613.605 464.442 1564.798 613.0419999999999 1499.4479999999999 715.5889999999999 1442.606 804.787 1401.6399999999999 898.891 1379.0900000000001 1002.229 1355.028 1112.5 1309.387 1235.201 1364.579 1333.652 1419.627 1431.846 1551.378 1447.901 1654.388 1493.301 1741.225 1531.5729999999999 1826.111 1564.655 1920 1578.4470000000001' fill='%23a575b9'%3e%3c/path%3e%3c/g%3e%3cdefs%3e%3cmask id='SvgjsMask1008'%3e%3crect width='1920' height='1080' fill='white'%3e%3c/rect%3e%3c/mask%3e%3c/defs%3e%3c/svg%3e");
    background-repeat: no-repeat;
    background-size: 100%;
    height: 100vh;
    display: flex;
    align-items: center;
    flex-direction: column;
}

.titulo {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 50px;
    margin-left: 55px;
    font-size: 35px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-weight: 600;
    color: white;
}

.content {
    display: flex;
    flex-direction: row;
    margin-top: 60px;
}

img {
    margin-top: 50px;
    height: 25em;
    width: 25em;
}

h2 {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 50px;
    margin-left: 55px;
    font-size: 22px;
    font-weight: 600;
    color: #3f264d;
}